body {
	font-size: medium;
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-style: normal;
	font-weight: bolder;
	text-align: center;
	color: whitesmoke;
	background-color: rgb(43, 42, 42);
	margin: 2%;
	padding: 5%;
	border-radius: 22px;
}

/* =================================================================
BARRA DE NAVEGACION
====================================================================
 */

 ul {
	list-style-type: none;
	margin: 2%;
	padding: 1%;
	overflow: hidden;
	background-color: rgb(43, 42, 42);
	border-radius: 22px;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	  color:  whitesmoke;
	  background-color:rgb(117, 191, 204);
	  border-radius: 22px;
  }
  
  .active {
	  color: white;
	  background-color: rgb(0, 171, 201);
	  border-radius: 22px;
  }

/* =================================================================
CUERPO INICIO
====================================================================
 */

article {
    display: inline-block;
	
	margin: 2%;
	border-radius: 22px;
	background-color: rgb(43, 42, 42);;
}

.portada {
	display: inline-block;
	width: 40%;
	
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	color: whitesmoke;
	margin: 3%;
	background-color: rgb(0, 171, 201);
	border-radius: 22px;
	
}

img {
	display: inline-block;
	width: 60%;
	margin: 10% 20% 10% 20%;
	border-radius: 22px;
}

aside {
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.enlace {
	width: 96%;
}

.video {
	display: inline-block;
	width: 99%;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: white;
	margin: 3%;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	color: whitesmoke;
	margin: 3%;
	background-color: rgb(0, 171, 201);
	border-radius: 22px;
}

iframe {
	display: block;
	margin: 10%;
	width: 80%;
	
}

/* ===========================================================================
CURRICULUM
============================================================================== */

.curriculum {
	display: inline-block;
	width: 40%;
}

.datos_contacto {
	display: inline-block;
	width: 99%;
	vertical-align: 900%;
}

.formacion {
	display: inline-block;
	width: 40%;
	vertical-align: 500%;
}

ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: white;
	margin: 3%;
}

.formulario {
	display: inline-block;
	width: 100px;
	vertical-align: 700%;
}

.campo {
	background-color: whitesmoke;
	border-radius: 22px;
}

input {
	border-radius: 22px;
	padding: 10%;
	background-color: rgb(0, 171, 201);
}


.descarga {
	border-radius: 22px;
	padding: 10%;
	background-color: rgb(0, 171, 201);
	display: inline-block;
	width: 200px;
	vertical-align: 1200%;
}

.respuesta {

	display: inline-block;
	width: 200px;
	vertical-align: 700%;

}

.campo {

	padding: 5%;
}